/*https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows*/

/*taggar*/
body {
    background-color: #eee;
    margin:0;
  }
  
  /*calasser*/
  .grid-container {
    max-width: 1000px;
    padding: 0 1.2rem;
    background-color: aqua;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 240px 60px minmax(400px, auto) minmax(120px, auto) 160px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main sidebar sidebar"
    "gallery gallery gallery"
    "footer footer footer";
  
  }
  
  header{
      grid-area: header;
      background-color: darkblue;
      color: #fff;
      font-size: 2.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  nav{
      grid-area: nav;
      background-color:violet;
      text-align:center;
      
  }
  main{
      grid-area: main;
      background-color: salmon;
      padding: 1rem;
  }
  
  }
  main article{
      background-color: #fff;
      padding: 1rem;
      margin: 0 0 1rem 0;
  
  }
  main article img{
      width: 100%;
  }
  aside{
      grid-area: sidebar;
      background-color:lightgoldenrodyellow;
  }
  
  section.gallery{
      background-color: lightgreen;
      grid-area: gallery;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-auto-rows: 160px;
      gap: 1rem;
      padding: 1rem;
  }
  
  section.gallery .img{
      background-color: limegreen;
  }
  footer{
      grid-area:footer;
      display:flex;
      justify-content: center;
      padding: 3rem;
      background-color: maroon;
      color: #fff;
  
  }